body {
  font-family: "Nanum Gothic Coding", monospace;
  background-color: #fefefe;
}

.mainBody {
  display: block;
}

ul {
  list-style-type: none;
}

h5 {
  color: white;
  font-size: 42px;
  padding-top: 125px;
}

.logo {
  max-width: 50px;
}

.containerIntroduction {
  background-color: #212529;
  color: white;
}

.aboutMe {
  background: #1b2025;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 20px;
  padding-bottom: 20px;
}

.aboutMeTitle {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
  color: white;
}

.strong {
  background: linear-gradient(
    90deg,
    rgba(24, 233, 220, 1),
    20%,
    rgba(39, 37, 170, 0.7) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 64px;
}

.photographOfMe {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  width: 300px;
  height: auto;
  padding: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border: 1px black solid 0.7;
}

.aboutMeP {
  margin-top: 5px;
  text-align: center;
  color: white;
  padding-top: 70px;
}

.pastProjects {
  text-align: center;
  background: #212529;
  color: white;
  padding-top: 40px;
  margin: 0;
}

.barbieProject {
  background: #212529;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.worldClockImg,
.barbieImg,
.weatherAppImg {
  display: block;
  max-width: 700px;
  translate: 0px 100px;
  border-radius: 9px;
  border: black 2px solid;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.worldClockImg:hover,
.barbieImg:hover,
.weatherAppImg:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.worldClockImg {
  margin-bottom: 120px;
}

.weatherApp {
  display: grid;
  padding-top: 150px;
  padding: 50px;
  grid-template-columns: 1fr 1fr;
  background-color: #1b2025;
}

.worldClock {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pipelineHeader {
  padding-bottom: 50px;
}

.inThePipeline {
  padding-top: 50px;
  text-align: center;
  background-color: #1b2025;
}

.upcoming {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 30px;
  color: white;
}

.skillsTitle {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 70px;
}

.aplusImg {
  display: flex;
  position: absolute;
  width: 50px;
  height: auto;
}

.reportCard {
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #fffeff,
    #fffefe,
    #fffdfd,
    #fffcfc
  );
  max-width: fit-content;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px black solid 0.7;
  margin-bottom: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  display: block;
  margin: 0 auto;
  border-radius: 9px;
}

.skillDesc {
  font-size: 10px;
}

.wrapper {
  padding-bottom: 70px;
  background-color: #212529;
}

.socialLink {
  font-size: 45px;
  list-style-type: none;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

.letsConnect {
  text-align: center;
}

button {
  border-radius: 9px;
  background: linear-gradient(
    90deg,
    rgba(24, 233, 220, 1),
    60%,
    rgba(39, 37, 170, 0.7) 100%
  );
  padding: 10px;
  border: black 1px solid;
}

button a {
  color: #1b2025;
}

.pastProjects button:hover,
.pastProjects button:active {
  background: linear-gradient(
    50deg,
    rgba(24, 233, 220, 1),
    60%,
    rgba(39, 37, 170, 0.7) 100%
  );
  transition: ease-in-out 1s;
}

a {
  color: white;
  cursor: crosshair;
  text-decoration: none;
}

.socialLink:hover {
  transform: scale(1.5);
  transition: ease-in-out 0.5s;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1b2025;
  color: white;
}

.loader {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#18e9dc, #2725aa, #5ad1cd);
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#18e9dc, #2725aa, #5ad1cd);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid white 10px;
  border-radius: 50%;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

@media (min-width: 576px) {
  .homepage {
    padding: 130px;
  }
  .aboutMeP {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .aboutMeP {
    text-align: center;
    font-size: 14px;
  }
  .homepage {
    padding: 100px;
    padding-right: 130px;
  }

  .aboutMe {
    grid-template-columns: 1fr;
  }

  .barbieProject,
  .weatherApp,
  .worldClock {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 712px) {
  .skillDesc {
    display: none;
  }

  .aplusImg {
    display: none !important;
  }
}
