body {
  font-family: "Nanum Gothic Coding", monospace;
  background-color: #fefefe;
}

@media (min-width: 576px) {
  .homepage {
    margin: 100px;
    padding-right: 130px;
  }
  .aboutMeP {
    font-size: 18px;
    padding-top: 100px;
  }
}

@media (max-width: 768px) {
  .aboutMeP {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
  }
  .homepage {
    margin: 100px;
    padding-right: 130px;
  }
}

@media (max-width: 712px) {
  .skillDesc {
    display: none;
  }

  .aplusImg {
    display: none !important;
  }
}

ul {
  list-style-type: none;
}

.navbar {
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #fffeff,
    #fffefe,
    #fffdfd,
    #fffcfc
  ) !important;
  font-size: 18px !important;
}

.aboutMeTitle {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.strong {
  background: linear-gradient(
    90deg,
    rgba(24, 233, 220, 1),
    20%,
    rgba(39, 37, 170, 0.7) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.photographOfMe {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 300px;
  height: auto;
  padding: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border: 1px black solid 0.7;
}

.aboutMeP {
  margin-top: 5px;
  text-align: center;
}

.pastProjectDesc {
  margin: 20px;
  font-size: 16px;
}

.pastProjects {
  text-align: center;
  padding: 20px;
}

.pastProjectsTitle {
  padding: 20px;
}

.worldClockImg,
.weatherAppImg,
.flavourfulImg, .LondonImg {
  max-width: 250px;
  height: auto;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.pipelineHeader {
  padding-bottom: 50px;
}

.inThePipeline {
  text-align: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 30px;
}

.skillsTitle {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.aplusImg {
  display: flex;
  position: absolute;
  width: 50px;
  height: auto;
}

.reportCard {
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #fffeff,
    #fffefe,
    #fffdfd,
    #fffcfc
  );
  max-width: fit-content;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px black solid 0.7;
  margin-bottom: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  display: block;
  margin: 0 auto;
}

.skillDesc {
  font-size: 10px;
}

.wrapper {
  padding-bottom: 20px;
}

.socialLink {
  font-size: 24px;
  list-style-type: none;
  color: #212529;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.letsConnect {
  padding: 20px;
  max-width: fit-content;
  text-align: center;
}

a {
  color: #212529;
  cursor: crosshair;
  transition: ease-in-out 0.5s;
}

.socialLink:hover {
  transform: scale(1.5);
  transition: ease-in-out 0.5s;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f0eeee5d;
}
